.factBox {
  display: block;
  text-decoration: none;
  border-radius: 8px;
  clear: both;
  padding: 10px 20px;
  max-width: fit-content;
  margin: 1rem;
  position: relative;
  background-color: #0b0425;
  box-shadow: 0 0 5px #0c022b;

  ul {
    padding-left: 20px;
  }

  i {
    font-style: normal;
  }
}

.factBox .header {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 0 1rem;
}