.footer {
  margin: 1vh auto auto auto;
  width: 100%;
  text-align: center;
  background-color: black;
  position: absolute;
  left: 0;
  font-size: 18px;
  height: 7vh;
  min-height: 45px;
  align-content: center;
}

.footer a {
  color: #61dbfb;
  text-decoration: none;
  font-weight: 500;
}

.footer a:hover {
  color: #0892D4;
  text-decoration: underline;
}

.footer p {
  margin: 0 .5rem;
}


.logoContainer {
  position: absolute;
  bottom: 1.5vh;
  right: 1.5rem;
}

.logoContainer img {
  max-width: 2.6vh;
  min-width: 20px;
  height: auto;
}

.rotateRight {
  display: inline-block;
  transform: rotate(90deg);
}

@media screen and (max-width: 720px) {
  .logoContainer {
    position: initial;
    margin-top: .5rem;
  }

  .footer {
    height: 14vh;
    margin: auto;
    min-height: 76px;
  }
}