html{
    background-color: #130937;
    color: #eeeafb;
}

a{
    color: #84fff6;
}

.xp-region {
    padding-inline: .5rem;
    padding-top: 1rem;

}

img {
    object-fit: cover;
    object-position: 50% 50%;
}

.noMarginNoPadding {
    margin: 0;
    padding: 0;
}