.playlist {
    padding: 16px;
    margin: 20px auto;
    max-width: 96%;


}
.photoBanner img {
    max-width: 90vw;
    border: solid 1px #09C0F0;
    box-shadow:  0 0 8px #09C0F0;
}

/* Playlist title styling */
.title {
    font-size: 34px;
    margin-bottom: 16px;
    text-align: center;
}

/* Playlist description styling */
.description {
    font-size: 20px;
    margin-bottom: 24px;
    text-align: center;
}

/* Styling for the movie list container */
.movieList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flowX{
    display: flex;
    overflow-x: auto;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* Individual movie item */
.movieItem {
    margin-bottom: 24px;
    padding: 8px 3rem 3rem 8px;
    border-bottom: 1px solid #eee;
    font-family: Arial, sans-serif;
    min-width: fit-content;
    min-height: 100%;
}

/* Heading for each movie */
.movieItem h3 {
    margin-bottom: 12px;
}
.movieItem p {
    width: 550px;
    max-width: 90vw;
}


/* Container for additional photos */
.additionalPhotos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 8px;
    max-width: 90vw;
    width: 500px;
}

.additionalPhotos img {
    height: 160px;
    width: 238px;
    border-radius: 8px;
    border: solid 1px #EF82F0;
    box-shadow: 0 0 8px #EF82F0;
}



/* Message when no photo is available */
.noPhoto {
    font-size: 14px;
    color: #e74c3c;
    font-style: italic;
    margin-bottom: 12px;
}

/* Message when no movies are available */
.noMovies {
    font-size: 16px;
    color: #c0392b;
    text-align: center;
    font-style: italic;
}

.link {
    text-decoration: none;
    font-size: 2rem;
    color: #EF82F0;
}
.subTitle{
    font-size: 1.5rem;
    margin-inline: 1rem;
    max-width: 500px;
    min-height: 3.5rem;
}

.photoBanner{
    max-width: 90vw;
    min-height: 750px;
    align-items: center;
    display: flex;
    width: 500px;
}

.photoBanner img {
    border-radius: 8px;
}